

/* ------------------------------
         GOOGLE FONT
------------------------------ */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------------------
         ADDITIONAL
------------------------------ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

/* ------------------------------
         HEADER
------------------------------ */
header{
    width: 100%;
    height: 100vh;
    background-color: #2D25A0;
}

.components{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.contents{
    margin-top: 207px;
    display: flex;
    flex-direction: column;
}
.header_text{
    color: #ffffff;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin-top: 15px;
}
.photo img{
    height: 538px;
    width: 657px;
    margin-top: 153px;

}
.photo img:hover{
    transform: scale(1.1,1.1);
}

.btn{
    font-size: 1em;
    color:#fff;
    background: #ff0157;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 8px;
    display: inline-block;
    padding: 10px 30px;
    width: 230px;
    margin-top: 80px;
    transition: all .5s ease-out  ;
    
}

.btn:hover{
    transform: scale(1.2, 1);;
}




/* ------------------------------
         PLAYERS
------------------------------ */

.all_players{
    display: flex;
    justify-content: center;
    margin-top: 60px;;
    
}

.player_contents{
    display: flex;

}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    
}
.player{
    height: 500px;
    width: 363px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.player_pic img{
    height: 300px;
    width: 330px;
    margin: 16px;
    border-radius: 5px;
}


.player_content{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
    margin-left: 16px;
}

.discription{
    font-size: 16px;
    color: #6C6C6C;
}


/* ------------------------------
         MATCHES
------------------------------ */
.fixtures{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.heading{
    font-size: 40px;
    color: #2D25A0;
}

.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px;
    gap: 30px;
}

.match{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 263px;

    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.all_matches{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/* ------------------------------
            NEWS
------------------------------ */
.latest_news{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.latest_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.news{
    display: grid;
    grid-template-row: repeat(3,1fr);
    margin-top: 60px;
    gap: 30px;
}
.box{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 850px;
    border-radius: 5px;
}

.news_body{
    margin-top: 10px;
    color: #6C6C6C;
}

span{
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.63);
}

.winner{
    margin-top: 07px;
    color:#6C6C6C;
}
.more_news{
    margin-top: 0;
    margin-bottom: 30px;
}

hr{
    border: 1px solid rgba(138, 135, 135, 0.541);
}
/* ------------------------------
         FOOTER
------------------------------ */

.footer_container{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img{
    height: 100px;
}

.copyright{
    margin-top: 10px;
    padding-bottom: 100px;
    font-size: 17px;
}
.icon{
    color: #6C6C6C;
    
}

a{
    text-decoration: none;
    margin-top: 20px;
}

.read{
    width: 150px;
}


/* ------------------------------
         MEDIA QUARYES
------------------------------ */

@media only screen and (max-width:688px){
    header{
        height: 100vh;
        width: 100%;
    }
    .components{
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }
    .contents{
        margin-top: 70px;
    }
    .header_text{
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            margin-top: 15px;
    }
    .btn{
        margin-top: 30px;
    }
    .photo img{
        margin-top: 50px;
        height: 250px;
        width: 320px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .player{
        height: 440px;
        width: 300px;
    }
    .player_pic img{
        height: 250px;
        width: 270px;
    }
    
    .player_content{
        width: 270px;
    }
    .matches{
        grid-template-columns: repeat(1,1fr);
    }
    .box{
        width: 300px;
        height: 420px;
    }
    .title{
        font-size: 25px;
    }
    .news_body{
        font-size: 18px;
    }

    .logo img{
        height: 60px;
    }

}
@media only screen and (min-width:681px) and (max-width:1260px){
    header{
        height: 160vh;
    }
    .components{
        flex-direction: column;
        align-items: center;
    }
    

    .contents{
        margin-top: 70px;
        }
        .header_text{
            font-weight: 700;
            font-size: 80px;
            line-height: 80px;
            margin-top: 15px;
        }
        .btn{
            margin-top: 50px;
        }
        .photo img{
            margin-top: 150px;
        }
        .players{
            grid-template-columns: repeat(2,1fr);
            gap: 25px;
        }
        .player{
            height: 440px;
            width: 300px;
        }
        .player_pic img{
            height: 250px;
            width: 270px;
        }
        
        .player_content{
            width: 270px;
        }

        .box{
            width: 650px;
            height: 320px;
        }
        .title{
            font-size: 25px;
        }
        .news_body{
            font-size: 18px;
        }
        .match{
            height: 120px;
            width: 203px;
        }
        .date, .copa, .winner{
            font-size: 18px;
        }
        .copyright{
            padding:40px;
        }

};